.comic {
    .bg-blue {
        background-color: $blue;
        height: 100px;
        position: relative;
        img {
            position: absolute;
            top: -220px;
            left: 210px;
        }
    }
    .info-comic {
        height: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .available {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            background-color: $green;
            border-bottom: 1px solid black;
            .price {
                display: flex;
                justify-content: space-between;
                flex-grow: 2;
                margin-right: 20px;
                padding: 20px;
                border-right: 1px solid black;
            }
            .check-available {
                padding: 20px 0;
                padding-right: 20px;
            }
        }
        .adv {
            margin: 0 20px;
        }
    }
}

.bg-grey {
    background-color: $dark-white;
    .authors {
        height: 500px;
        display: flex;
        .flex-bas {
            flex-basis: 50%;
            padding-right: 40px;
            h1 {
                padding: 30px 0;
            }
            .art,
            .written,
            .specs {
                display: flex;
                padding: 20px 0;
                border-top: 1px solid grey;
                border-bottom: 1px solid $grey;
                .title {
                    width: 75%;
                }
                .title-specs {
                    width: 50%;
                }
            }
        }
    }
}
