/* Section-top-header */

.section-top-header {
    background-color: $blue;
    .info-top-header {
        display: flex;
        justify-content: end;
        font-size: $font-small;
        color: $white;
        span {
            padding: 0 10px;
        }
    }
}

/* Nav-Bar */

.nav-bar {
    padding: 10px 0;
}

/* Bg-header-image */

.bg-header-image {
    background-image: url("../images/jumbotron.jpg");
    height: 400px;
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    .current-series {
        position: absolute;
        bottom: -20px;
        left: 180px;
        font-size: $font-big;
        font-weight: bold;
        color: $white;
        padding: 10px 20px;
        background-color: $blue;
    }
}
