/* Font-Size */

$font-small: 12px;

$font-medium: 14px;

$font-big: 20px;

/* Color */

$white: white;

$dark-white: #f6f6f6;

$black: black;

$grey: grey;

$dark-grey: #303030;

$blue: #0282f9;

$green: #55ba59;
