* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.small-container {
  max-width: 1100px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Font-Size */
/* Color */
/* Section-top-header */
.section-top-header {
  background-color: #0282f9;
}
.section-top-header .info-top-header {
  display: flex;
  justify-content: end;
  font-size: 12px;
  color: white;
}
.section-top-header .info-top-header span {
  padding: 0 10px;
}

/* Nav-Bar */
.nav-bar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar li a {
  line-height: 100px;
  color: black;
  font-size: 14px;
}
.nav-bar .active {
  border-bottom: 3px solid #0282f9;
}
.nav-bar input {
  padding: 0 0 0 50px;
  width: 100px;
  height: 20px;
  border: 0;
  border-bottom: 3px solid #0282f9;
}

/* Bg-header-image */
.bg-header-image {
  background-image: url("../images/jumbotron.jpg");
  height: 400px;
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
.bg-header-image .current-series {
  position: absolute;
  bottom: -20px;
  left: 180px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background-color: #0282f9;
}

/* Comics */
.comics {
  background-color: black;
}
.comics .image-comics {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
.comics .image-comics li img {
  height: 200px;
  padding: 0 20px;
  width: 200px;
}
.comics .image-comics li p {
  margin-bottom: 40px;
  color: white;
  padding: 0 20px;
  width: 200px;
}
.comics .loader {
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
.comics .loader span {
  padding: 10px 30px;
  background-color: #0282f9;
  font-size: 12px;
}

.bg-footer {
  background-image: url("../images/dc-logo-bg.png"), url("../images/footer-bg.jpg");
  background-size: 400px, 100%;
  background-position: 75% 70%;
  background-size: 500px, 100%;
  background-repeat: no-repeat, no-repeat;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 30px;
  margin-bottom: 20px;
  width: 50%;
  height: 280px;
}
.nav-footer h3 {
  padding: 10px 0;
  color: white;
}
.nav-footer a {
  color: grey;
}

.copyright {
  padding-bottom: 30px;
}
.copyright p {
  color: grey;
}

.social {
  background-color: #303030;
  height: 100px;
}
.social .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social .d-flex button {
  background-color: #303030;
  color: white;
  border: 1px solid #0282f9;
  padding: 10px 20px;
  margin: 30px 0;
}
.social .follow-us {
  display: flex;
  align-items: center;
}
.social .follow-us p {
  font-weight: bold;
  color: #0282f9;
  display: inline;
  margin: 0 10px;
}
.social img {
  margin: 0 5px;
}

.commerce {
  background-color: #0282f9;
}
.commerce .images {
  display: flex;
  justify-content: space-between;
}
.commerce .img-commerce {
  height: 120px;
  display: flex;
  align-items: center;
}
.commerce .img-commerce img {
  height: 50px;
}
.commerce .img-commerce span {
  font-size: 12px;
  padding-left: 20px;
  color: white;
}

/* Utils */
.grey {
  color: grey;
}

.white {
  color: white;
}

.blue {
  color: #0282f9;
}

.inline {
  display: inline;
}

/* Comic */
.comic .bg-blue {
  background-color: #0282f9;
  height: 100px;
  position: relative;
}
.comic .bg-blue img {
  position: absolute;
  top: -220px;
  left: 210px;
}
.comic .info-comic {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.comic .info-comic .available {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  background-color: #55ba59;
  border-bottom: 1px solid black;
}
.comic .info-comic .available .price {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  margin-right: 20px;
  padding: 20px;
  border-right: 1px solid black;
}
.comic .info-comic .available .check-available {
  padding: 20px 0;
  padding-right: 20px;
}
.comic .info-comic .text-comic p {
  line-height: 25px;
}
.comic .info-comic .adv {
  margin: 0 20px;
}
.comic .info-comic .adv h3 {
  position: relative;
  left: 150px;
}

.bg-grey {
  background-color: #f6f6f6;
}
.bg-grey .authors {
  height: 500px;
  display: flex;
}
.bg-grey .authors .flex-bas {
  flex-basis: 50%;
  padding-right: 40px;
}
.bg-grey .authors .flex-bas h1 {
  padding: 30px 0;
}
.bg-grey .authors .flex-bas .art,
.bg-grey .authors .flex-bas .written,
.bg-grey .authors .flex-bas .specs {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.bg-grey .authors .flex-bas .art .title,
.bg-grey .authors .flex-bas .written .title,
.bg-grey .authors .flex-bas .specs .title {
  width: 75%;
}
.bg-grey .authors .flex-bas .art .title-specs,
.bg-grey .authors .flex-bas .written .title-specs,
.bg-grey .authors .flex-bas .specs .title-specs {
  width: 50%;
}
.bg-grey .e-commerce {
  border: 1px solid #ebebeb;
}
.bg-grey .e-commerce .shop {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
}
.bg-grey .e-commerce .shop .commerce-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 20px;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}
.bg-grey .e-commerce .shop .commerce-item img {
  height: 50px;
  filter: invert(50%);
}