* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Font-Size */
/* Color */
/* Section-top-header */
.section-top-header {
  background-color: #0282f9;
}
.section-top-header .info-top-header {
  display: flex;
  justify-content: end;
  font-size: 12px;
  color: white;
}
.section-top-header .info-top-header span {
  padding: 0 10px;
}

/* Nav-Bar */
.nav-bar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.nav-bar li a {
  line-height: 100px;
  color: black;
  font-size: 14px;
}

/* Bg-header-image */
.bg-header-image {
  background-image: url("../images/jumbotron.jpg");
  height: 400px;
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
.bg-header-image .current-series {
  position: absolute;
  bottom: -20px;
  left: 180px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background-color: #0282f9;
}

/* Comics */
.comics {
  background-color: black;
}
.comics .image-comics {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
.comics .image-comics li img {
  height: 200px;
  padding: 0 20px;
  width: 200px;
}
.comics .image-comics li p {
  margin-bottom: 40px;
  color: white;
  padding: 0 20px;
  width: 200px;
}
.comics .loader {
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
.comics .loader span {
  padding: 10px 30px;
  background-color: #0282f9;
}